name: Deploy Docker Images

on:
  push:
    tags:
      - "v*"

permissions: {}

jobs:
  deploy:
    permissions:
      contents: read
      packages: write

    runs-on: ubuntu-latest
      
    strategy:
      matrix:
        include:
          - registry: docker.io
            password: DOCKER_PASSW
            username: aegisforge
            image: aegis-forge/kleio
          - registry: ghcr.io
            password: GITHUB_TOKEN
            username: edoriggio
            image: ghcr.io/aegis-forge/kleio

    steps:
      - name: Checkout repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Docker login
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ${{ matrix.registry }}
          username: ${{ matrix.username }}
          password: ${{ secrets[matrix.password] }}

      - name: Extract metadata
        id: metadata
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ${{ matrix.image }}
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}

      - name: Push Image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          push: true
          tags: ${{ steps.metadata.outputs.tags }}
          labels: ${{ steps.metadata.outputs.labels }}
